p {
    border: solid 1px blue;
    min-height: 20px;
}

div {
    border: solid 1px red;
    padding: 10px;
    margin: 10px;
}

.p-green {
    background-color: aquamarine;
}

#p-1{
    background-color: brown;
    border:dotted 5px black;
}